---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>

      <p class="profile-links">
        {% if site.instagram_username %}
        <a
          class="social-link"
          href="http://instagram.com/{{ site.instagram_username }}"
        >
          <i class="fab fa-instagram"></i>
        </a>
        {% endif %}

        {% if site.github_username %}
        <a
          class="social-link"
          href="http://github.com/{{ site.github_username }}"
        >
          <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.linkedin_username %}
        <a
          class="social-link"
          href="http://linkedin.com/in/{{ site.linkedin_username }}"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %}
      </p>

      {% if site.author_email %}
      <h6><i class="fas fa-envelope"></i> <a class="email"
          href="mailto: brendan.moy@gmail.com">
          {{ site.author_email }}</a></h6>
      {% endif %}

      {% if site.author_website_url %}
      <h6><i class="fas fa-link"></i> <a class="author-website"
          href="https://www.brendanmoy.com"> {{ site.author_website_url }}</a> </h6>
      {% endif %}
    </div>

    <!--coding section-->
    <div class="card">
      <h1 class="left-card-title">Software I Tinker With</h1>
      {%- include author_skills.html -%}
    </div>

    <!--work section-->
    <div class="card">
      <h1 class="left-card-title">Work Experience</h1>
          <a class="workexp-email" href="mailto: brendan.moy@gmail.com">
            Resume upon Request </a>
    </div>

  </div>
  <div class="col-lg-6">

    <div class="card">
      <h1 class="card-title">About</h1>
      <p>Hi, I am Brendan, I'm a Fullstack Developer who likes to cook, try new restaurants, code, watch anime, and an avid gamer. I created this site as a reference point, like a personal bookmark. It contains a collection of my thoughts, hobbies, and everything else in between.</p>
    </div>

    <!--charities section-->
    {% if site.show_charities_details == true %}
    <div id="charities" class="card">
      <h1 class="card-title">Charities</h1>
      <br />
      {% for charities in site.charities_details %}
        {% if charities.visibility
      == true %}
      <div class="row" id="charities-card">
        <div class="col-md-6">
          <img
            src="{{charities.charity_thumbnail}}"
            class="charity-image"
          />
        </div>
        <div class="col-md-4 center">
          <h4 class="charity-title">{{ charities.charity_title }}</h4>
          <h6 class="charity-info">{{ charities.charity_info}}</h6>
          <p class="charity-desc">{{ charities.charity_description }}</p>
          <p><a class="charities-link" href="{{charities.charity_url}}" target="_blank"
              >{{ charities.charity_url}}</a>
          </p>

          <p>
            <a class="donate" href="{{charities.donation_link}}" target="_blank">Donate</a>
          </p>
        </div>
      </div>
      <br />
      {% endif %} {% endfor %}
    </div>
    {% endif %}

    <!--gaming section-->
    <div class="card">
      <h1 class="card-title">Games I'm Currently Playing</h1>
      <br />
      <div class="row">
          <a href="https://www.pubg.com/en-us" target="_blank">
            <img
              src="https://upload.wikimedia.org/wikipedia/en/3/3d/PlayerUnknown%27s_Battlegrounds_Steam_Logo.jpg"
              class="game-img"
            />
          </a>

          <a href="https://www.callofduty.com/warzone" target="_blank">
            <img
              src="https://i.pcmag.com/imagery/articles/05NMo7tK7fcV9zkzsTuNtsq-1.fit_scale.size_2698x1517.v1584283419.png"
              class="game-img" />
          </a>

          <a href="https://www.bungie.net" target="_blank">
            <img
              src="https://static-cdn.jtvnw.net/ttv-boxart/Destiny%202.jpg"
              class="game-img" />
          </a>

          <a href="https://www.rocketleague.com/" target="_blank">
            <img src="https://steamcdn-a.akamaihd.net/steam/apps/252950/header_alt_assets_11.jpg?t=1585155609"
              class="game-img"/>
          </a>
      </div>
    </div>

    <!--anime section-->
    <div class="card">
      <h1 class="card-title">Animes I'm Currently Watching</h1>
      <br />
      <div class="row">
        <a href="https://www.crunchyroll.com/one-piece" target="_blank">
          <img src="https://img1.ak.crunchyroll.com/i/spire4/8056a82e973dde98ebb82abd39dc69731564519729_full.jpg"
            class="anime-img" />
        </a>

        <a href="https://www.crunchyroll.com/hunter-x-hunter" target="_blank">
          <img
            src="https://img1.ak.crunchyroll.com/i/spire3/cbb55a6382682bf71e91f685c6473c5a1487736090_full.jpg"
            class="anime-img" />
        </a>

        <a href="https://www.crunchyroll.com/dr-stone" target="_blank">
          <img src="https://img1.ak.crunchyroll.com/i/spire3/cd61320a82ff1c1ff30f08f464a97f3f1571635066_full.jpg"
            class="anime-img" />
        </a>

      </div>
    </div>
  </div>
</div>
