---
layout: default
---

<div class="row ">
  <div class="col-lg-4 offset-md-1">
    <div class="card" id="profile-card">
      <a href="/">
        <img src="{{site.url}}{{site.baseurl}}/assets/img/{{ site.author_logo }}" class="profile-img" />
      </a>
      <h1 class="profile-name">{{ site.title }}</h1>
      <p class="profile-bio">{{ site.subtitle }}</p>

      <p class="profile-links">
        {% if site.instagram_username %}
        <a
          class="social-link"
          href="http://instagram.com/{{ site.instagram_username }}"
        >
          <i class="fab fa-instagram"></i>
        </a>
        {% endif %} 
        
        {% if site.medium_username %}
        <a
          class="social-link"
          href="http://medium.com/@{{ site.medium_username }}"
        >
          <i class="fab fa-medium-m"></i>
        </a>
        {% endif %} 
        
        {% if site.github_username %}
        <a
          class="social-link"
          href="http://github.com/{{ site.github_username }}"
        >
          <i class="fab fa-github"></i>
        </a>
        {% endif %} 
        
        {% if site.linkedin_username %}
        <a
          class="social-link"
          href="http://linkedin.com/in/{{ site.linkedin_username }}"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        {% endif %} 
      </p>

      {% if site.author_email %}
      <h6><i class="fas fa-envelope"></i> <a class="email"
          href="mailto: brendan.moy@gmail.com">
          {{ site.author_email }}</a></h6>
      {% endif %} 
      
      {% if site.author_website_url %}
      <h6><i class="fas fa-link"></i> <a class="author-website"
          href="https://www.brendanmoy.com"> {{ site.author_website_url }}</a> </h6>
      {% endif %}
    </div>

    <!--coding section-->
    <div class="card">
      <h1 class="left-card-title">Software I Tinker With</h1>
      {%- include author_skills.html -%}
    </div>

    <!--work section-->
    <div class="card">
      <h1 class="left-card-title">Work Experience</h1>
          <a class="workexp-email" href="mailto: brendan.moy@gmail.com">
            Resume upon Request </a>
    </div>

  </div>
  <div class="col-lg-7">
    {% if site.author_bio %}
    <div class="card">
      <h1 class="card-title">About</h1>
      <p>{{ site.author_bio }}</p>
    </div>
    {% endif %} 

    <!--charities section-->
    {% if site.show_charities_details == true %}
    <div id="charities" class="card">
      <h1 class="card-title">Charities</h1>
      <br />
      {% for charities in site.charities_details %} 
        {% if charities.visibility
      == true %}
      <div class="row" id="charities-card">
        <div class="col-md-6">
          <img
            src="{{charities.charity_thumbnail}}"
            class="charity-image"
          />
        </div>
        <div class="col-md-4 center">
          <h4 class="charity-title">{{ charities.charity_title }}</h4>
          <h6 class="charity-info">{{ charities.charity_info}}</h6>
          <p class="charity-desc">{{ charities.charity_description }}</p>
          <p><a class="charities-link" href="{{charities.charity_url}}"
              >{{ charities.charity_url}}</a>
          </p>

          <p>
            <a class="donate" href="{{charities.donation_link}}">Donate</a>
          </p>
        </div>
      </div>
      <br />
      {% endif %} {% endfor %}
    </div>
    {% endif %} 
    
   
    
    {% if site.show_author_education_details == true %}
    <div class="card">
      <h1 class="card-title">Education</h1>
      <br />
      {% for detail in site.author_education_details %} {% if detail.visibility
      == true %}
      <div class="row">
        <div class="col-md-2">
          <img
            src="{{site.url}}{{site.baseurl}}/assets/img/{{ detail.college_logo}}"
            class="company-logo"
          />
        </div>
        <div class="col-md-6">
          <h4 class="experience-title">{{detail.college_degree }}</h4>
          <h6 class="experience-info">{{detail.college_name}}</h6>
          <p class="experience-desc">{{detail.description}}</p>
          <p><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
